In [18]:
import numpy as np
import pandas as pd

In [19]:
data_file_path = "analysis_data.csv"
data = pd.read_csv(data_file_path)

list = ['Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10']

for item in list:
    data = data.drop(item, axis=1)
data.describe()

       Extraverted Intuitive Thinking Judging Assertive
count           67        67       67      67        67
unique           2         2        2       2         2
top              I         S        F       P         T
freq            45        37       36      34        34